[submodule "src/feature_generation/gSpan"]
	path = src/feature_generation/gSpan
	url = git@github.com:ngocdang499/gSpan.git
; [submodule "PatternMining/gSpan"]
; 	path = PatternMining/gSpan
; 	url = git@github.com:ngocdang499/gSpan.git
